@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
/*@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';*/

.demo-app {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    max-width: 800px;
  }
  
  .demo-app-top {
    margin: 0 0 3em;
    max-width: 800px;
  }
  
  .demo-app-calendar {
    margin: 0 auto;
    max-width: 800px;
  }
  #calendar {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
}
  .unthemed{
    max-width: 800px;
}