$maincolor:#01104A;
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#top, #calendar.fc-unthemed {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}
.navbar-dark {
    background-color: $maincolor;
    min-height: 50px;
    
}
.form-control:valid select {
    background-color:  #01104A!important;
    color: rgba(255,255,255,.5);
    border: none;
}
option{
    background-color: #01104A;
    color: #fff;
}
#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}

#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit; 
}

.left { float: left }
.right { float: right }
.clear { clear: both }

#calendar {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
}
footer{
    background: $maincolor;
    color: white;
}
.fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom: 1.5em;
}
  
.fc-toolbar.fc-footer-toolbar {
    margin-top: 1.5em;
}
  
  
.fc-toolbar > * > :not(:first-child) {
    margin-left: 0.75em;
}
  
.fc-toolbar h2 {
    font-size: 1.75em;
    margin: 0;
}
@media screen and (max-width: 400px){
    .fc-toolbar{
        width: 100%;
        display: grid;
    }
    .left{
        width: 100%;
    }
    .navbar{
        width: 100%;
    }
    .fc-left{
        display: flex;
        flex-direction: row;
        width: 20%;
    }
    .fc-center{
        display: flex;
        flex-direction: row;
        width: 30%;
    }
    .fc-right{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
}
@media screen and (max-width: 500px){
    .fc-toolbar{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 20px;
    }
  
}
